---
import "../styles/global.css";
---

<footer class="w-full bottom-0 mt-4 border-t-2 border-gray-700">
  <nav class="max-w-screen-lg m-auto pt-6 pb-6 text-center">
    <ul>
      <li class="inline-block pl-2">うちなーぐち辞典（沖縄語辞典）</li>
      <li class="inline-block pl-2">
        <a
          href="https://github.com/nanjakkun/uchinaaguchi_dict"
          target="_blank"
          class="underline"
        >
          ソースコード
        </a>
      </li>
      <li class="inline-block pl-2">
        <a
          href="https://nanjakugani.hatenablog.com"
          target="_blank"
          class="underline"
        >
          ブログ
        </a>
      </li>
    </ul>
  </nav>
</footer>
