---

---

<header class="w-full">
  <nav class="max-w-screen-lg m-auto pt-4 pb-4 text-center">
    <a class="block text-3xl" href="/uchinaaguchi_dict">うちなーぐち辞典</a>
  </nav>
</header>

<style>
  header {
    background: rgb(196, 255, 199);
    background: linear-gradient(
      180deg,
      rgba(196, 255, 199, 1) 0%,
      rgba(82, 223, 252, 1) 100%
    );
  }
</style>
