---
import "../styles/global.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/uchinaaguchi_dict/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>うちなーぐち辞典(沖縄語辞典)|{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <article>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
